:root {
  font-family: 'Plus Jakarta Sans';
  font-weight: 500 , 800;
  /*Primary colors*/
--unread-notifications: hsl(1, 90%, 64%);
--hoover: hsl(219, 85%, 26%);


/*Neutral colors*/
--White: hsl(0, 0%, 100%);
--Very-light-grayishblue: hsl(210, 60%, 98%);
--Light-grayish-blue1: hsl(211, 68%, 94%);
--Light-grayish-blue-2: hsl(205, 33%, 90%);
--Grayish-blue: hsl(219, 14%, 63%);
--Dark-grayish-blue: hsl(219, 12%, 42%);
--Verydark-blue: hsl(224, 21%, 14%);
body{
  font-size: 16px; /*paragraph*/
}
/*layouts/*

Mobile: 375px
- Desktop: 1440p
/*end layout*/
}
body {
  background-color: antiquewhite;
  margin: 0;
  display: flex;
  place-items: center;
 
}
.header {
  width: 100%;
  height: 100%;
  display: inline-flex;
  margin: auto;
  background-color: whitesmoke;
 ;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 10px;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.navbar li {
  margin-right: 10px;
}

.navbar h1 {
  margin: 0;
}

.navbar p {
  margin: 0;
  margin-left: 250px;
}

.navbar .badge {
  margin-left: 7px;
  background-color: hsl(219, 85%, 26%);;
  color: hsl(0, 0%, 100%);;
  border-radius: 4px;
  padding: 2px 4px;
 
}
@media (max-width: 480px) {
  body {
    background-color: hsl(0, 0%, 100%);
    margin: 0;
    display: grid;
    place-items: center;
   
  }
  .container{
    width: 100%;
    height: 100%;
    display: inline-flex;
    margin: auto;
    background-color: whitesmoke;
   ;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 10px;
  }
  
  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  .navbar li {
    margin-right: 9px;
  }
  
  .navbar h2 {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }
  
  .navbar p {
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    margin-left: 21px;
  }
  
  .navbar .badge {
    margin-left: 5px;
    background-color: hsl(219, 85%, 26%);;
    color: hsl(0, 0%, 100%);;
    border-radius: 5px;
    font-size: 18px;
    margin-bottom: 10px;
    font-family: Courier (monospace);
    padding: 2px 7px;
   
  }
  .main-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .main-content div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 10px;
  }
  .Angela {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 10px;
  }
  .Angela img {
    margin-right: 10px;
    order: 1;
    height: 42px;
    margin: 0 auto;
  }

  .main-content img {
    margin-right: 10px;
    order: 1;
    height: 42px;
    margin: 0 auto;
  }
   .main-content p {
    font-stretch: normal;
    position: relative;
    order: 2;
    text-align: right;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 32px;
  }
  
  .main-content p .name{
    font-weight: bold;
    font-family: Papyrus;
    color: hsl(222, 16%, 12%);
  }
  .main-content p .event {
    font-family: Consolas;
    color: hsl(224, 5%, 43%);
  }
}
