:root {
  font-family : 'Plus Jakarta Sans';
  font-weight : 500;
  --unread-notifications : hsl(1 90% 64%);
  --hoover : hsl(219 85% 26%);
  --white : hsl(0 0% 100%);
  --very-light-grayishblue : hsl(210 60% 98%);
  --light-grayish-blue1 : hsl(211 68% 94%);
  --light-grayish-blue-2 : hsl(205 33% 90%);
  --grayish-blue : hsl(219 14% 63%);
  --dark-grayish-blue : hsl(219 12% 42%);
  --verydark-blue : hsl(224 21% 14%);
  }
  body {
  font-size : 16px;
  }
  body {
  background-color : antiquewhite;
  margin : 0;
  display : flex;
  place-items : center;
  }
  .header {
  width : 100%;
  height : 100%;
  display : inline-flex;
  margin : auto;
  background-color : whitesmoke;
  }
  .navbar {
  display : flex;
  justify-content : space-between;
  align-items : center;
  background-color : transparent;
  padding : 10px;
  }
  .navbar ul {
  list-style : none;
  margin : 0;
  padding : 0;
  display : flex;
  align-items : center;
  }
  .navbar li {
  margin-right : 10px;
  }
  .navbar h1 {
  margin : 0;
  }
  .navbar p {
  margin : 0;
  margin-left : 250px;
  }
  .navbar .badge {
  margin-left : 7px;
  background-color : hsl(219 85% 26%);
  color : hsl(0 0% 100%);
  border-radius : 4px;
  padding : 2px 4px;
  }
  @media (max-width: 375px) {
  body {
  background-color : hsl(0 0% 100%);
  margin : 0;
  display : grid;
  place-items : center;
  }
  .container {
  width : 100%;
  height : 100%;
  display : inline-flex;
  margin : auto;
  background-color : whitesmoke;
  }
  .navbar {
  width : 100%;
  display : flex;
  justify-content : space-between;
  align-items : center;
  padding : 10px;
  }
  .navbar ul {
  list-style : none;
  margin : 0;
  padding : 0;
  display : flex;
  align-items : center;
  }
  .navbar li {
  margin-right : 9px;
  }
  .navbar h2 {
  margin : 0;
  font-family : 'Plus Jakarta Sans';
  font-size : 20px;
  }
  .navbar p {
  font-size : 17px;
  font-family : 'Plus Jakarta Sans';
  margin : 0;
  margin-left : 75px;
  }
  .navbar .badge {
  margin-left : 5px;
  background-color : hsl(219 85% 26%);
  color : hsl(0 0% 100%);
  border-radius : 5px;
  font-size : 18px;
  margin-bottom : 10px;
  font-family : 'Plus Jakarta Sans';
  padding : 2px 7px;
  }
  .main-content {
  display : flex;
  overflow-wrap : break-word;
  flex-wrap : wrap;
  align-items : center;
  justify-content : center;
  }
  .Mark {
  width : 100%;
  background-color : hsl(206 64% 98%);
  display : inline-flex;
  flex-direction : row;
  justify-content : flex-start;
  margin-top : 10px;
  }
  .Mark img {
  padding-top : 5px;
  display : block;
  height : 55px;
  margin : 12px;
  }
  .Mark p {
  padding : 9px;
  text-align : left;
  line-height : normal;
  overflow-wrap : break-word;
  }
  .Mark .name {
  font-family : 'Plus Jakarta Sans';
  color : hsl(222 16% 12%);
  }
  .Mark .event {
  font-family : 'Plus Jakarta Sans';
  color : hsl(224 5% 43%);
  }
  .Angela {
  width : 100%;
  background-color : hsl(206 64% 98%);
  display : inline-flex;
  flex-direction : row;
  justify-content : flex-start;
  margin-top : 10px;
  }
  .Angela img {
  padding-top : 5px;
  display : block;
  height : 55px;
  margin : 12px;
  }
  .Angela p {
  padding : 20px;
  text-align : left;
  line-height : normal;
  overflow-wrap : break-word;
  }
  .Angela .name {
  font-family : 'Plus Jakarta Sans';
  color : hsl(222 16% 12%);
  }
  .Angela .event {
  font-family : 'Plus Jakarta Sans';
  color : hsl(224 5% 43%);
  }
  .Jacob {
  width : 100%;
  background-color : hsl(206 64% 98%);
  display : inline-flex;
  flex-direction : row;
  justify-content : flex-start;
  margin-top : 10px;
  }
  .Jacob img {
  padding-top : 5px;
  display : block;
  height : 55px;
  margin : 12px;
  }
  .Jacob p {
  padding : 15px;
  text-align : left;
  line-height : normal;
  overflow-wrap : break-word;
  }
  .Jacob .name {
  font-family : 'Plus Jakarta Sans';
  color : hsl(222 16% 12%);
  }
  .Jacob .event {
  font-family : 'Plus Jakarta Sans';
  color : hsl(224 5% 43%);
  }
  .Rizk {
  width : 100%;
  background-color : hsl(206 64% 98%);
  display : inline-flex;
  flex-direction : row;
  justify-content : flex-start;
  margin-top : 10px;
  }
  .Rizk img {
  padding-top : 5px;
  display : block;
  height : 55px;
  margin : 12px;
  }
  .Rizk p {
  padding : 20px;
  text-align : left;
  line-height : normal;
  overflow-wrap : break-word;
  }
  .Rizk .name {
  font-family : 'Plus Jakarta Sans';
  color : hsl(222 16% 12%);
  }
  .Rizk .event {
  font-family : 'Plus Jakarta Sans';
  color : hsl(224 5% 43%);
  }
  .Kimberly {
  width : 100%;
  background-color : hsl(206 64% 98%);
  display : inline-flex;
  flex-direction : row;
  justify-content : flex-start;
  margin-top : 10px;
  }
  .Kimberly img {
  padding-top : 5px;
  display : block;
  height : 55px;
  margin : 12px;
  }
  .Kimberly p {
  padding : 20px;
  text-align : left;
  line-height : normal;
  overflow-wrap : break-word;
  }
  .Kimberly .name {
  font-family : 'Plus Jakarta Sans';
  color : hsl(222 16% 12%);
  }
  .Kimberly .event {
  font-family : 'Plus Jakarta Sans';
  color : hsl(224 5% 43%);
  }
  .Nathan {
  width : 100%;
  background-color : hsl(206 64% 98%);
  display : inline-flex;
  flex-direction : row;
  justify-content : flex-start;
  margin-top : 10px;
  }
  .Nathan img {
  padding-top : 5px;
  display : block;
  height : 55px;
  margin : 12px;
  }
  .Nathan p {
  padding : 9px;
  text-align : left;
  line-height : normal;
  overflow-wrap : break-word;
  }
  .Nathan .name {
  font-family : 'Plus Jakarta Sans';
  color : hsl(222 16% 12%);
  }
  .Nathan .event {
  font-family : 'Plus Jakarta Sans';
  color : hsl(224 5% 43%);
  }
  .Anna {
  width : 100%;
  background-color : hsl(206 64% 98%);
  display : flex;
  flex-direction : row;
  justify-content : flex-start;
  margin-top : 10px;
  }
  .Anna img {
  padding-top : 5px;
  display : block;
  height : 55px;
  margin : 12px;
  }
  .Anna p {
  padding : 20px;
  text-align : left;
  line-height : normal;
  overflow-wrap : break-word;
  }
  .Anna .name {
  font-family : 'Plus Jakarta Sans';
  color : hsl(222 16% 12%);
  }
  .Anna .event {
  font-family : 'Plus Jakarta Sans';
  color : hsl(224 5% 43%);
  }
  }
  @media (max-width: 480px) {
  body {
  background-color : hsl(0 0% 100%);
  margin : 0;
  display : grid;
  place-items : center;
  }
  .container {
  width : 100%;
  height : 100%;
  display : inline-flex;
  margin : auto;
  background-color : whitesmoke;
  }
  .navbar {
  width : 100%;
  display : flex;
  justify-content : space-between;
  align-items : center;
  padding : 10px;
  }
  .navbar ul {
  list-style : none;
  margin : 0;
  padding : 0;
  display : flex;
  align-items : center;
  }
  .navbar li {
  margin-right : 9px;
  }
  .navbar h2 {
  margin : 0;
  font-family : 'Plus Jakarta Sans';
  font-size : 20px;
  }
  .navbar p {
  font-size : 17px;
  font-family : 'Plus Jakarta Sans';
  margin : 0;
  flex-direction : inherit;
  flex-wrap : wrap;
  margin-left : 100px;
  }
  .navbar .badge {
  margin-left : 5px;
  background-color : hsl(219 85% 26%);
  color : hsl(0 0% 100%);
  border-radius : 5px;
  font-size : 18px;
  margin-bottom : 10px;
  font-family : 'Plus Jakarta Sans';
  padding : 2px 7px;
  }
  .main-content {
  display : flex;
  overflow-wrap : break-word;
  flex-wrap : wrap;
  align-items : center;
  justify-content : center;
  }
  .Mark {
  width : 100%;
  background-color : hsl(206 64% 98%);
  display : inline-flex;
  flex-direction : row;
  justify-content : flex-start;
  margin-top : 10px;
  }
  .Mark img {
  padding-top : 5px;
  display : block;
  height : 55px;
  margin : 12px;
  }
  .Mark p {
  padding : 9px;
  text-align : left;
  line-height : normal;
  overflow-wrap : break-word;
  }
  .Mark .name {
  font-family : 'Plus Jakarta Sans';
  color : hsl(222 16% 12%);
  }
  .Mark .event {
  font-family : 'Plus Jakarta Sans';
  color : hsl(224 5% 43%);
  }
  .Angela {
  width : 100%;
  background-color : hsl(206 64% 98%);
  display : inline-flex;
  flex-direction : row;
  justify-content : flex-start;
  margin-top : 10px;
  }
  .Angela img {
  padding-top : 5px;
  display : block;
  height : 55px;
  margin : 12px;
  }
  .Angela p {
  padding : 20px;
  text-align : left;
  line-height : normal;
  overflow-wrap : break-word;
  }
  .Angela .name {
  font-family : 'Plus Jakarta Sans';
  color : hsl(222 16% 12%);
  }
  .Angela .event {
  font-family : 'Plus Jakarta Sans';
  color : hsl(224 5% 43%);
  }
  .Jacob {
  width : 100%;
  background-color : hsl(206 64% 98%);
  display : inline-flex;
  flex-direction : row;
  justify-content : flex-start;
  margin-top : 10px;
  }
  .Jacob img {
  padding-top : 5px;
  display : block;
  height : 55px;
  margin : 12px;
  }
  .Jacob p {
  padding : 15px;
  text-align : left;
  line-height : normal;
  overflow-wrap : break-word;
  }
  .Jacob .name {
  font-family : 'Plus Jakarta Sans';
  color : hsl(222 16% 12%);
  }
  .Jacob .event {
  font-family : 'Plus Jakarta Sans';
  color : hsl(224 5% 43%);
  }
  .Rizk {
  width : 100%;
  background-color : hsl(206 64% 98%);
  display : block;
  flex-direction : row;
  justify-content : flex-start;
  margin-top : 10px;
  }
  .Rizk img {
  padding-top : 5px;
  display : block;
  height : 55px;
  margin : 12px;
  }
  .Rizk p {
  padding : 20px;
  text-align : left;
  line-height : normal;
  overflow-wrap : break-word;
  }
  .Rizk .name {
  font-family : 'Plus Jakarta Sans';
  color : hsl(222 16% 12%);
  }
  .Rizk .event {
  font-family : 'Plus Jakarta Sans';
  color : hsl(224 5% 43%);
  }
  .grid{
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.218);
    padding: 20px;
    font-size: 13px;
    text-align: center;
  }
  .Kimberly {
  width : 100%;
  background-color : hsl(206 64% 98%);
  display : inline-flex;
  flex-direction : row;
  justify-content : flex-start;
  margin-top : 10px;
  }
  .Kimberly img {
  padding-top : 5px;
  display : block;
  height : 55px;
  margin : 12px;
  }
  .Kimberly p {
  padding : 20px;
  text-align : left;
  line-height : normal;
  overflow-wrap : break-word;
  }
  .Kimberly .name {
  font-family : 'Plus Jakarta Sans';
  color : hsl(222 16% 12%);
  }
  .Kimberly .event {
  font-family : 'Plus Jakarta Sans';
  color : hsl(224 5% 43%);
  }
  .Nathan {
  width : 100%;
  background-color : hsl(206 64% 98%);
  display : inline-flex;
  flex-direction : row;
  justify-content : flex-start;
  margin-top : 10px;
  }
  .Nathan img {
  padding-top : 5px;
  display : block;
  height : 55px;
  margin : 12px;
  }
  .Nathan p {
  padding : 9px;
  text-align : left;
  line-height : normal;
  overflow-wrap : break-word;
  }
  .Nathan .name {
  font-family : 'Plus Jakarta Sans';
  color : hsl(222 16% 12%);
  }
  .Nathan .event {
  font-family : 'Plus Jakarta Sans';
  color : hsl(224 5% 43%);
  }
  .Anna {
  width : 100%;
  background-color : hsl(206 64% 98%);
  display : flex;
  flex-direction : row;
  justify-content : flex-start;
  margin-top : 10px;
  }
  .Anna img {
  padding-top : 5px;
  display : block;
  height : 55px;
  margin : 12px;
  }
  .Anna p {
  padding : 20px;
  text-align : left;
  line-height : normal;
  overflow-wrap : break-word;
  }
  .Anna .name {
  font-family : 'Plus Jakarta Sans';
  color : hsl(222 16% 12%);
  }
  .Anna .event {
  font-family : 'Plus Jakarta Sans';
  color : hsl(224 5% 43%);
  }
  }